.accountWrap{
    background-color: #fff;
    margin-top: 25px;
}
.TreeWrap{
    width: 189px;min-height: 500px;float: left;margin-top: 30px;margin-right:20px;border-right:1px solid #eaeaea;
}
.operationTree{
    width: 100%;
}
.operationTree ul{
    background-color: inherit;
    width: 100%;
    margin-bottom: 30px;
}
.operationTree ul.layui-nav-tree li {
    display: block;
    width: 100%;
    line-height: 45px;
    border-right: 1px solid #eaeaea;
}
.operationTree .layui-nav .layui-nav-item a {
    display: block;
    padding: 0 20px;
    color: #666;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.operationTree .layui-nav .layui-nav-item.layui-nav-itemed .layui-nav-child a {
    padding-left:36px;
}
.operationTree .layui-nav .layui-nav-item a em{
    font-style: normal;
}
.operationTree .layui-nav-tree .layui-nav-item a:hover {
    background-color: inherit;
    background-color: #e6f7ff;
    cursor: pointer;
    color:#1890FF;
}
.operationTree .layui-nav-itemed > .layui-nav-child {
    display: block;
    /* padding-left: 18px; */
    background-color: inherit !important;
}
.operationTree .layui-nav-tree .layui-nav-child dd.layui-this,.operationTree .layui-nav-tree .layui-nav-child dd.layui-this a,.operationTree .layui-nav-tree .layui-this,.operationTree .layui-nav-tree .layui-this > a,.operationTree .layui-nav-tree .layui-this > a:hover {
    background-color: inherit;
    color: #666;
}
.operationTree .layui-nav .layui-nav-child dd.layui-this a,.operationTree .layui-nav-child dd.layui-this {
    /* background-color: inherit;
    color: #666; */
    background-color: #e6f7ff;
    color: #1890FF;
}
.operationTree .layui-nav-child dd:before{
	content:"";
	position: absolute;
    right: -2px;
    width: 3px;
    height: 100%;
    background-color: #1E9FFF;
    opacity: 0;
    z-index: 2;
}
.operationTree .layui-nav-child dd.layui-this:before{
	opacity: 1;
}
.operationTree .layui-nav-itemed > a,.operationTree .layui-nav-tree .layui-nav-title a,.operationTree .layui-nav-tree .layui-nav-title a:hover {
    color: #666 !important;
}
.operationTree .edit-icon{
    float: right;
    margin-right: 15px;

}
.operationTree .layui-nav .layui-nav-item a em.editText{
    display: inline-block;
    width: 120px;
    height: 25px;
    padding-left: 8px;
    line-height: 25px;
    border: 1px solid #eaeaea;
    outline: none;
    /*overflow: hidden;*/
}

.selectSwitch{
    width: 310px;
    border:1px solid #eaeaea;
    float: left;
}
.selectSwitch .selectMain{
    width: 80px;
    float: left;
    margin-bottom: 0px;
}
.selectSwitch .layui-input-block {
    margin-left: 0px;
    min-height: 36px;
}
.selectSwitch .layui-form-select .layui-input {
    border: none;
    background-color: #eaeaea;
    color: #666;
}
