<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.izhuantou.dao.mobile.IndividualPropertyMapper">
	<!-- 点点投持有列表 -->
	<select id="findAppfindDDThavingBymemberOID" resultType="com.izhuantou.damain.vo.MylendDDTDaoDTO">
			SELECT
			NormalBiddingRuning.productType AS productType,
			NormalBiddingRuning.productStatus AS hkzt,
			NormalBiddingRuning.OID AS
			biOID,
			NormalBiddingRuning.biddingName AS xmmc,
			payDebitCredit.creditType AS creditType,
			payDebitCredit.returnNumber AS
			zqs,
			payDebitCredit.OID AS DOID,
			payDebitCredit.principalMoney AS cjje,
			round(
			payDebitCredit.creditRate * 100,
			2
			) AS nhll,
			payDebitCredit.addDateTime AS cjsjTime,
			
			IF (
			payDebitCredit.ysbx IS NULL,
			payDebitCredit.interest +
			payDebitCredit.money,
			payDebitCredit.ysbx
			) AS ysbx,
			
			IF (
			NormalBiddingRuning.biddingAmount - NormalBiddingRuning.holdingAmount
			= 0,
			'true',
			'false'
			) AS fullscale,
			payDebitCredit.returnSurplusNumber AS syqs,
			payDebitCredit.privilegeOID AS tqOID,
			payDebitCredit.startDateTime AS jxsj,
			payDebitCredit.endDateTime AS dqsj,
			payDebitCredit.xghkr
			FROM
			(
			SELECT
			d.*, MIN(p.returnDate) xghkr,MIN(p.money) ysbx
			FROM
			PAY_DebitCredit d
			RIGHT JOIN (
			SELECT
			r.debitCreditOID,
			r.returnDate,
			r.money
			FROM
			PAY_ReturnPlan r
			WHERE
			r.state = 'plan'
			) AS p ON (p.debitCreditOID = d.OID)
			GROUP BY
			d.OID
			) AS payDebitCredit,
			WEBP2P_NormalBiddingRuning NormalBiddingRuning,
			WEBP2P_ProductRateInfo ProductRateInfo,
			(
			SELECT
			COUNT(*) ex
			FROM
			PAY_ReturnPlan,
			PAY_DebitCredit,
			WEBP2P_NormalBiddingRuning
			WHERE
			PAY_DebitCredit.outMemberOID = #{memberOID}
			AND PAY_DebitCredit.inMemberOID = PAY_ReturnPlan.outMemberOID
			AND PAY_ReturnPlan.state = 'transferReturn'
			AND PAY_DebitCredit.businessOID = WEBP2P_NormalBiddingRuning.OID
			)
			conditions,
			(
			SELECT
			COUNT(*) exT
			FROM
			WEBP2P_DebtTransferBiddingPool,
			PAY_DebitCredit
			WHERE
			PAY_DebitCredit.outMemberOID = #{memberOID}
			AND PAY_DebitCredit.OID = WEBP2P_DebtTransferBiddingPool.debitCreditOID
			)
			conditionsTwo
			WHERE
			payDebitCredit.outMemberOID = #{memberOID}
			AND payDebitCredit.businessOID = NormalBiddingRuning.OID
			AND NormalBiddingRuning.productRateInfoID = ProductRateInfo.OID
			AND NormalBiddingRuning.productStatus != 3
			AND (
			payDebitCredit.state != 'transferReturn'
			AND payDebitCredit.state !=
			'finish'
			AND payDebitCredit.state != 'earlyFinish'
			)
			AND conditions.ex = 0
			AND conditionsTwo.exT = 0
	</select>
	<!-- 点点投已完成列表列表 -->
	<select id="findAppDDTWCBymemberOID" resultType="com.izhuantou.damain.vo.MylendDDTDaoDTO">
		select 'ywc' AS hkzt ,NormalBiddingRuning.OID AS biOID,
					 payDebitCredit.OID AS DOID,payDebitCredit.creditType AS creditType,
					 payDebitCredit.addDateTime AS cjsjTime,payDebitCredit.principalMoney AS cjje,
					 NormalBiddingRuning.productType AS productType,
					 if(NormalBiddingRuning.biddingAmount- NormalBiddingRuning.holdingAmount=0,'true','false') as fullscale,
					 NormalBiddingRuning.biddingName AS xmmc,round(payDebitCredit.creditRate*100,2) AS nhll,
					 payDebitCredit.addDateTime AS cjsjTime,payDebitCredit.returnNumber AS tatalTerm,
					 ROUND(payDebitCredit.money * payDebitCredit.creditRate * if(payDebitCredit.state = 'earlyFinish',TIMESTAMPDIFF(MONTH,payDebitCredit.startDateTime,payDebitCredit.endDateTime)+1,payDebitCredit.returnNumber) / 12,2) AS yslx,
					 payDebitCredit.startDateTime,
					 payDebitCredit.endDateTime,
					 payDebitCredit.returnNumber AS zqs, 
					 payDebitCredit.privilegeOID AS tqOID 
					 from PAY_DebitCredit payDebitCredit,     
					 WEBP2P_NormalBiddingRuning NormalBiddingRuning,WEBP2P_ProductRateInfo ProductRateInfo
					 WHERE payDebitCredit.outMemberOID=#{memberOID} 
					AND payDebitCredit.businessOID = NormalBiddingRuning.OID AND NormalBiddingRuning.productRateInfoID = ProductRateInfo.OID and NormalBiddingRuning.productStatus = 5 
	</select>
	<!-- 环环投持有中列表 -->
		<select id="findAppHHhavingBymemberOID" resultType="com.izhuantou.damain.vo.MylendDaoDTO">
			SELECT ProductRateInfo.OID AS productInfoOID,PackageBiddingMainRuning.OID AS OID,payCashPool.tqOID,
					payCashPool.businessOID AS businessOID,payCashPool.OID AS CashPoolOID,
					payCashPool.principalMoney + payCashPool.interestMoney * payCashPool.returnSurplusNumber AS ysbx,
					ProductRateInfo.productTerm AS zqs, PackageBiddingMainRuning.productStatus,PackageBiddingMainRuning.sxAmount,PackageBiddingMainRuning.holdingAmount,  
					payCashPool.returnSurplusNumber AS syqs,payCashPool.money AS money,ProductRateInfo.repaymentType AS creditType,
					payCashPool.startDateTime AS cjsjTime,DATE_ADD(payCashPool.startDateTime,INTERVAL 1 MONTH)  AS xghkr,DATE_ADD(DATE_ADD(payCashPool.startDateTime,INTERVAL ProductRateInfo.productTerm MONTH), INTERVAL 1 DAY) AS dqsj,PackageBiddingMainRuning.packageName AS xmmc,
					payCashPool.principalMoney AS cjje,round(ProductRateInfo.yearRate * 100,2) AS nhll  
					FROM	PAY_CashPool payCashPool,WEBP2P_PackageBiddingMainRuning PackageBiddingMainRuning,
					WEBP2P_ProductRateInfo ProductRateInfo WHERE	payCashPool.memberOID =#{memberOID}
					AND payCashPool.businessOID = PackageBiddingMainRuning.OID	
					AND PackageBiddingMainRuning.productRateInfoID = ProductRateInfo.OID 
					AND PackageBiddingMainRuning.productStatus != 2  
					AND payCashPool.state ='investment' 
		</select>
		<!-- 已完成环环投列表 -->
		<select id="findAppHHTWCBymemberOID" resultType="com.izhuantou.damain.vo.MylendDaoDTO">
				select ProductRateInfo.productTerm AS zqs, payCashPool.OID as CashPoolOID,ProductRateInfo.OID AS productInfoOID,payCashPool.creditType AS creditType,PackageBiddingMainRuning.OID AS OID,payCashPool.tqOID, 
								payCashPool.businessOID AS businessOID,payCashPool.endDateTime AS dqsj,payCashPool.returnNumber AS tatalTerm, 
								 payCashPool.principalMoney + payCashPool.interestMoney * payCashPool.returnSurplusNumber AS ysbx ,
								payCashPool.state AS hkzt,payCashPool.addDateTime AS cjsjTime,PackageBiddingMainRuning.packageName AS xmmc,PackageBiddingMainRuning.sxAmount,PackageBiddingMainRuning.holdingAmount, 
								payCashPool.principalMoney AS cjje,round(ProductRateInfo.yearRate*100,2) AS nhll, 
								DATE_ADD(payCashPool.endDateTime, INTERVAL 1 DAY) AS Timejssj 
								FROM PAY_CashPool payCashPool,WEBP2P_PackageBiddingMainRuning PackageBiddingMainRuning,WEBP2P_ProductRateInfo ProductRateInfo  	
								WHERE payCashPool.memberOID =#{ memberOID }
								and payCashPool.businessOID = PackageBiddingMainRuning.OID  
								and PackageBiddingMainRuning.productRateInfoID = ProductRateInfo.OID 
								AND payCashPool.state='finishInvestment' 
		</select>

        <!-- 转转头持有列表 -->
		<select id="findAppZZThavingBymemberOID" resultType="com.izhuantou.damain.vo.MylendZZTDaoDTO">
			SELECT WEBP2P_DebtTransferBiddingPool.OID as biOID,PAY_TransferReturn.creditType AS creditType,PAY_TransferReturn.money+PAY_TransferReturn.interest as ysbx, PAY_TransferReturn.returnSurplusNumber as syqs,PAY_TransferReturn.OID as DOID ,WEBP2P_DebtTransferBiddingPool.productType AS productType,WEBP2P_DebtTransferBiddingPool.productStatus AS hkzt,
							PAY_TransferReturn.principalMoney AS cjje,WEBP2P_DebtTransferBiddingPool.biddingName AS xmmc,
							round(PAY_TransferReturn.creditRate*100,2) AS nhll,PAY_TransferReturn.addDateTime AS cjsjDate,DATE_ADD(PAY_TransferReturn.addDateTime,INTERVAL PAY_TransferReturn.returnSurplusNumber MONTH) AS dqsj,timeCondition.returnDate AS xghkr 
							FROM PAY_TransferReturn,WEBP2P_DebtTransferBiddingPool ,(SELECT MIN(PAY_ReturnPlan.returnDate) AS returnDate FROM PAY_ReturnPlan,(SELECT inMemberOID FROM PAY_DebitCredit WHERE PAY_DebitCredit.outMemberOID =#{ memberOID }
							) temp WHERE PAY_ReturnPlan.state = 'plan') timeCondition 
							WHERE  PAY_TransferReturn.outMemberOID = #{ memberOID }
							AND PAY_TransferReturn.businessOID = WEBP2P_DebtTransferBiddingPool.OID
		</select>
		
        <!-- 转转头完成列表 -->
		<select id="findAppZZTWCBymemberOID" resultType="com.izhuantou.damain.vo.MylendZZTDaoDTO">
			SELECT PAY_TransferReturn.creditType AS creditType,PAY_TransferReturn.endDateTime as dqsj,PAY_TransferReturn.OID as DOID ,WEBP2P_DebtTransferBiddingPool.productType AS productType,WEBP2P_DebtTransferBiddingPool.productStatus AS productStatus,
							PAY_TransferReturn.principalMoney AS cjje,WEBP2P_DebtTransferBiddingPool.biddingName AS xmmc,
							round(PAY_TransferReturn.creditRate*100,2) AS nhll,PAY_TransferReturn.addDateTime AS cjsjTime,PAY_TransferReturn.state AS hkzt  
							FROM PAY_TransferReturn,WEBP2P_DebtTransferBiddingPool,
							(SELECT WEBP2P_NormalBiddingRuning.productStatus AS productStatus FROM	PAY_TransferReturn,	PAY_DebitCredit, WEBP2P_NormalBiddingRuning WHERE	PAY_TransferReturn.outMemberOID = '370518b20a5dca712804025f2e15867a'
							 AND PAY_TransferReturn.debitCreditOID = PAY_DebitCredit.OID AND PAY_DebitCredit.businessOID = WEBP2P_NormalBiddingRuning.OID) zt 
							WHERE  PAY_TransferReturn.outMemberOID = '370518b20a5dca712804025f2e15867a'
						  AND PAY_TransferReturn.businessOID = WEBP2P_DebtTransferBiddingPool.OID
							 AND zt.productStatus = 5
		</select>	
	






</mapper>