<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.izhuantou.dao.lend.HHTouMapper">


	<select id="findAll" resultType="com.izhuantou.damain.lend.HHTou">

		SELECT C.productRateInfoID AS
		productRateInfoID,
		C.packageName AS packageName,
		C.productTerm,
		C.szds,
		C.dsTime,
		OID,
		JXOther,
		productStatus,
		sykt
		FROM (SELECT
		WEBP2P_PackageBiddingMainRuning.productRateInfoID,WEBP2P_PackageBiddingMainRuning.packageName
		AS packageName,
		WEBP2P_PackageBiddingMainRuning.szds,WEBP2P_PackageBiddingMainRuning.dsTime,
		SUM(WEBP2P_PackageBiddingMainContentRuning.biddingAmount -
		WEBP2P_PackageBiddingMainContentRuning.holdingAmount)
		sykt,WEBP2P_PackageBiddingMainRuning.JXother,
		IFNULL(SUM(WEBP2P_PackageBiddingMainContentRuning.biddingAmount),0)
		applyAmount ,WEBP2P_PackageBiddingMainRuning.startBidAmount
		startBidAmount,
		WEBP2P_PackageBiddingMainRuning.productStatus
		productStatus,WEBP2P_PackageBiddingMainRuning.OID OID
		,WEBP2P_ProductRateInfo.productTerm
		FROM
		WEBP2P_PackageBiddingMainRuning LEFT JOIN
		WEBP2P_PackageMainContentMapping ON
		WEBP2P_PackageBiddingMainRuning.OID
		=
		WEBP2P_PackageMainContentMapping.mainOID
		LEFT JOIN
		WEBP2P_PackageBiddingMainContentRuning ON
		WEBP2P_PackageMainContentMapping.contentOID =
		WEBP2P_PackageBiddingMainContentRuning.OID,
		WEBP2P_ProductRateInfo
		WHERE WEBP2P_ProductRateInfo.OID =
		WEBP2P_PackageBiddingMainRuning.productRateInfoID AND
		WEBP2P_PackageBiddingMainRuning.isRecommend = 1
		GROUP BY
		WEBP2P_PackageBiddingMainRuning.OID) C ORDER BY JXother
		DESC,productTerm
	</select>

	<select id="findByOID" resultType="com.izhuantou.damain.lend.HHTou">
		select
		productTerm,yearRate,repaymentType from
		WEBP2P_ProductRateInfo where
		oid = #{productRateInfoID}
	</select>

</mapper>