<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.izhuantou.dao.manager.CustomerManagerMapper">
	<!-- 获取客户经理各级分类选项列表-->
	<select id="getCustomerManagerGroup" resultType="String">
		select distinct  
			<if test="type != null and type != ''">
				${type}
			</if>
			from p2p_caifuempinfo where twoDept != '0'
            	<if test="twoDept != null and twoDept != ''">
                	and twoDept = #{twoDept} and thrDept != ''
            	</if>
            	<if test="thrDept != null and thrDept != ''">
                	and thrDept = #{thrDept} and fourDept != ''
            	</if>
            	<if test="fourDept != null and fourDept != ''">
                	and fourDept = #{fourDept} and fiveDept != ''
            	</if>
	</select>
	<!-- 获取客户经理名字、id -->
	<select id="getCustomerManagerList" resultType="map">
		select name,OID from p2p_caifuempinfo 
			where   
				    twoDept != '0' and twoDept = #{twoDept} 
				and thrDept != '' and thrDept = #{thrDept} 
				and fourDept != '' and fourDept = #{fourDept} 
				and fiveDept != '' and fiveDept = #{fiveDept} 
				and positionStatus = '在职'
	</select>

</mapper>