<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.izhuantou.dao.user.MemberMemberAgreementMapper">
	<!-- 查看协议 借款 -->
	<select id="gainAgreementJKXYCK"
		resultType="com.izhuantou.damain.user.MemberMemberAgreement">
		select * from member_memberagreement where
		biddingOID=#{biddingOID} and contractType =#{contractType}
		ORDER BY OID
		DESC LIMIT 1
	</select>

	<!-- 查看协议 -->
	<select id="gainAgreementXYCK2"
		resultType="com.izhuantou.damain.user.MemberMemberAgreement">
		select * from from MEMBER_MemberAgreement where ckOID =
		#{ckOID} and contractType =#{contractType}
		ORDER BY OID DESC LIMIT 1
	</select>
	<!-- 查看协议 -->
	<select id="gainAgreementJKZX"
		resultType="com.izhuantou.damain.user.MemberMemberAgreement">
		select * from from MEMBER_MemberAgreement where and
		loanNumber = #{loanNumber} and contractType =#{contractType}
		ORDER BY
		OID DESC LIMIT 1
	</select>

	<insert id="saveMemberAgreement"
		parameterType="com.izhuantou.damain.user.MemberMemberAgreement">
		INSERT INTO member_memberagreement (
		OID,
		memberOID,
		name,
		nameCN,
		content,
		biddingType,
		contractType,
		valid,
		addDateTime,
		updDateTime,
		refresh,
		version,
		biddingOID,
		xybh,
		state,
		loanNumber,
		ckOID,
		signIDs,
		pdfPath,
		pdfPic
		)
		VALUES
		(
		#{OID},
		#{memberOID},
		#{name},
		#{nameCN},
		#{content},
		#{biddingType},
		#{contractType},
		1,
		NOW(),
		NOW(),
		1,
		0,
		#{biddingOID},
		#{xybh},
		'0',
		#{loanNumber},
		#{ckOID},
		#{signIDs},
		#{pdfPath},
		#{pdfPic}
		);

	</insert>

	<select id="countMemberAgreement" resultType="int">

	SELECT COUNT(*) from MEMBER_MemberAgreement WHERE
	biddingType=#{biddingType} and 
	contractType=#{contractType} and
	addDateTime &lt; = NOW()
	
	</select>
	
	<select id="findBymemberOIDBiddingOIDForZQZR" resultType="com.izhuantou.damain.user.MemberMemberAgreement">
		SELECT * from MEMBER_MemberAgreement WHERE
		biddingType=#{biddingType} and 
		contractType='7' and
		memberOID=#{memberOID}
	
	</select>

		<select id="findByYBInfoByJKXY" resultType="com.izhuantou.damain.vo.LeanYuBiaoDTO">
			SELECT
			bdff.memberOID jkrOID,
			bdff.realName jkrxm,
			bdff.mobile jkrsjh,
			bdff.idCard jkrsfzh,
			pbc.OID biddingOID,
			pbc.loanDay loanDay
			FROM
			WEBP2P_BiddingExamine bdff
			JOIN WEBP2P_PackageBiddingMainContentRuning pbc ON bdff.loanNumber =pbc.loanNumber
			WHERE pbc.financetransfertype = 'normal' AND bdff.loanNumber =#{loanNumber}
			UNION ALL
			SELECT
			bdff.memberOID jkrOID,
			bdff.realName jkrxm,
			bdff.mobile jkrsjh,
			bdff.idCard jkrsfzh,
			nbr.OID biddingOID,
			nbr.loanDay loanDay
			FROM
			WEBP2P_BiddingExamine bdff
			JOIN WEBP2P_NoviceBiddingRuning nbr ON nbr.loanNumber = bdff.loanNumber
			WHERE nbr.debitCreditOID IS NULL AND bdff.loanNumber =#{loanNumber}
			UNION ALL
			SELECT
			pbcr.memberOID jkrOID,
			clci.customername jkrxm,
			clci.phone jkrsjh,
			clci.certificatesid jkrsfzh,
			pbcr.OID biddingOID,
			pbcr.loanDay loanDay
			FROM
			WEBP2P_CarLoanCenterInfo clci
			JOIN WEBP2P_PackageBiddingMainContentRuning pbcr ON pbcr.loanNumber =clci.loanNumber
			WHERE pbcr.financetransfertype = 'normal' AND clci.loanNumber = #{loanNumber}
			
	</select>

	<select id="findByAgreementJKXYBHCK" resultType="string">
		select 
			xybh 
		from 
			MEMBER_MemberAgreement 
		where  
			biddingOID =#{biddingOID} and contractType =#{contractType}
	
	</select>

	<select id="findPdfNamePathByOID" resultType="string">
		select pdfPath from member_memberagreement where OID=#{OID}
	</select>


</mapper>