.accountWrap{
    background-color: #fff;
    margin-top: 25px;
}
.TreeWrap{
    width: 300px;min-height: 500px;float: left;margin-top: 30px;
}
.operationTree{
    width: 100%;
}
.operationTree ul{
    background-color: inherit;
    width: 90%;
    margin-bottom: 30px;
}
.operationTree ul.layui-nav-tree li {
    display: block;
    width: 100%;
    line-height: 45px;
    border-right: 1px solid #eaeaea;
}
.operationTree .layui-nav .layui-nav-item a {
    display: block;
    padding: 0 20px;
    color: #666;
    transition: all .3s;
    -webkit-transition: all .3s;
}
.operationTree .layui-nav .layui-nav-item a em{
    font-style: normal;
}
.operationTree .layui-nav-tree .layui-nav-item a:hover {
    background-color: inherit;
}
.operationTree .layui-nav-itemed > .layui-nav-child {
    display: block;
    padding-left: 18px;
    background-color: inherit !important;
}
.operationTree .layui-nav-tree .layui-nav-child dd.layui-this, .layui-nav-tree .layui-nav-child dd.layui-this a, .layui-nav-tree .layui-this, .layui-nav-tree .layui-this > a, .layui-nav-tree .layui-this > a:hover {
    background-color: inherit;
    color: #666;
}
.operationTree .layui-nav .layui-nav-child dd.layui-this a, .layui-nav-child dd.layui-this {
    background-color: inherit;
    color: #666;
}
.operationTree .layui-nav-itemed > a, .layui-nav-tree .layui-nav-title a, .layui-nav-tree .layui-nav-title a:hover {
    color: #666 !important;
}
.operationTree .edit-icon{
    float: right;
    margin-right: 15px;

}
.operationTree .layui-nav .layui-nav-item a em.editText{
    display: inline-block;
    width: 120px;
    height: 25px;
    padding-left: 8px;
    line-height: 25px;
    border: 1px solid #eaeaea;
    outline: none;
    /*overflow: hidden;*/
}

.selectSwitch{
    width: 310px;
    border:1px solid #eaeaea;
    float: left;
}
.selectSwitch .selectMain{
    width: 80px;
    float: left;
    margin-bottom: 0px;
}
.selectSwitch .layui-input-block {
    margin-left: 0px;
    min-height: 36px;
}
.selectSwitch .layui-form-select .layui-input {
    border: none;
    background-color: #eaeaea;
    color: #666;
}
