<div class="workTop">
  <div class="workTopTit"><span>工作台</span><div class="layui-clear"></div></div>
  <div class="workTopWrap">
    <div class="workTopLeft">
      <div class="UserIcon"></div>
      <div class="UserMsg">
        <h3><em>早安</em>，<span>Google</span>，祝你开心每一天！</h3>
        <p><span class="duty">产品经理</span>  |  <span class="department">互联网 - 产品部</span></p>
      </div>
      <div class="layui-clear"></div>

    </div>
    <div class="workTopRight">
      <div class="dataMain">
        <p>注册用户数</p>
        <h3>39,958</h3>
      </div>
      <div class="dataMain">
        <p>累计交易额</p>
        <h3>706,592,015</h3>
      </div>
      <div class="dataMain">
        <p>赚取收益</p>
        <h3>9,520,363</h3>
      </div>

    </div>

  </div>

</div>
<div class="layui-content">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8">
      <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
          <div class="layui-card">
            <div class="layui-card-header">代办事项</div>
            <div class="backlog">
              <div class="backListBox">
                <div class="listTit"><i></i><span>信用贷款编辑客户信息</span></div>
                <div class="listCon">借款人借款用于资金周转，主要以借款人个人约收入为还款来源保障...</div>
                <div class="listName"><span>周文青</span><em>17分钟前</em></div>
              </div>
              <div class="backListBox">
                <div class="listTit"><i></i><span>信用贷款编辑客户信息</span></div>
                <div class="listCon">借款人借款用于资金周转，主要以借款人个人约收入为还款来源保障...</div>
                <div class="listName"><span>周文青</span><em>17分钟前</em></div>
              </div>
              <div class="backListBox backListBox02">
                <div class="listTit"><i></i><span>信用贷款编辑客户信息</span></div>
                <div class="listCon">借款人借款用于资金周转，主要以借款人个人约收入为还款来源保障...</div>
                <div class="listName"><span>周文青</span><em>17分钟前</em></div>
              </div>
              <div class="backListBox">
                <div class="listTit"><i></i><span>信用贷款编辑客户信息</span></div>
                <div class="listCon">借款人借款用于资金周转，主要以借款人个人约收入为还款来源保障...</div>
                <div class="listName"><span>周文青</span><em>17分钟前</em></div>
              </div>
              <div class="backListBox">
                <div class="listTit"><i></i><span>信用贷款编辑客户信息</span></div>
                <div class="listCon">借款人借款用于资金周转，主要以借款人个人约收入为还款来源保障...</div>
                <div class="listName"><span>周文青</span><em>17分钟前</em></div>
              </div>
              <div class="backListBox backListBox02">
                <div class="listTit"><i></i><span>信用贷款编辑客户信息</span></div>
                <div class="listCon">借款人借款用于资金周转，主要以借款人个人约收入为还款来源保障...</div>
                <div class="listName"><span>周文青</span><em>17分钟前</em></div>
              </div>

              <div class="layui-clear"></div>

            </div>
          </div>

          <div class="layui-card">
            <div class="layui-card-header">客户动态</div>
            <div class="CustomerItem">
              <div class="CustomerBox">
                <div class="CustomerIcon"></div>
                <div class="CustomerListText">
                  <p>周星星 在 <span>iOS APP</span> 预约出借 <span>初春回馈标 - 【双】双月盈 - 2018041701</span></p>
                  <span>3 分钟前</span>
                </div>
                <div class="layui-clear"></div>
              </div>
              <div class="CustomerBox">
                <div class="CustomerIcon"></div>
                <div class="CustomerListText">
                  <p>周星星 在 <span>iOS APP</span> 预约出借 <span>初春回馈标 - 【双】双月盈 - 2018041701</span></p>
                  <span>3 分钟前</span>
                </div>
                <div class="layui-clear"></div>
              </div>
              <div class="CustomerBox">
                <div class="CustomerIcon"></div>
                <div class="CustomerListText">
                  <p>周星星 在 <span>iOS APP</span> 预约出借 <span>初春回馈标 - 【双】双月盈 - 2018041701</span></p>
                  <span>3 分钟前</span>
                </div>
                <div class="layui-clear"></div>
              </div>
              <div class="CustomerBox">
                <div class="CustomerIcon"></div>
                <div class="CustomerListText">
                  <p>周星星 在 <span>iOS APP</span> 预约出借 <span>初春回馈标 - 【双】双月盈 - 2018041701</span></p>
                  <span>3 分钟前</span>
                </div>
                <div class="layui-clear"></div>
              </div>
              <div class="CustomerBox">
                <div class="CustomerIcon"></div>
                <div class="CustomerListText">
                  <p>周星星 在 <span>iOS APP</span> 预约出借 <span>初春回馈标 - 【双】双月盈 - 2018041701</span></p>
                  <span>3 分钟前</span>
                </div>
                <div class="layui-clear"></div>
              </div>
              <div class="CustomerBox">
                <div class="CustomerIcon"></div>
                <div class="CustomerListText">
                  <p>周星星 在 <span>iOS APP</span> 预约出借 <span>初春回馈标 - 【双】双月盈 - 2018041701</span></p>
                  <span>3 分钟前</span>
                </div>
                <div class="layui-clear"></div>
              </div>
              <div class="CustomerBox">
                <div class="CustomerIcon"></div>
                <div class="CustomerListText">
                  <p>周星星 在 <span>iOS APP</span> 预约出借 <span>初春回馈标 - 【双】双月盈 - 2018041701</span></p>
                  <span>3 分钟前</span>
                </div>
                <div class="layui-clear"></div>
              </div>
              <div class="CustomerBox">
                <div class="CustomerIcon"></div>
                <div class="CustomerListText">
                  <p>周星星 在 <span>iOS APP</span> 预约出借 <span>初春回馈标 - 【双】双月盈 - 2018041701</span></p>
                  <span>3 分钟前</span>
                </div>
                <div class="layui-clear"></div>
              </div>
              <div class="CustomerBox">
                <div class="CustomerIcon"></div>
                <div class="CustomerListText">
                  <p>周星星 在 <span>iOS APP</span> 预约出借 <span>初春回馈标 - 【双】双月盈 - 2018041701</span></p>
                  <span>3 分钟前</span>
                </div>
                <div class="layui-clear"></div>
              </div>
              <div class="CustomerBox">
                <div class="CustomerIcon"></div>
                <div class="CustomerListText">
                  <p>周星星 在 <span>iOS APP</span> 预约出借 <span>初春回馈标 - 【双】双月盈 - 2018041701</span></p>
                  <span>3 分钟前</span>
                </div>
                <div class="layui-clear"></div>
              </div>



            </div>
          </div>

        </div>



      </div>
    </div>

    <div class="layui-col-md4">
      <div class="layui-card">
        <div class="layui-card-header">快速开始 / 常用功能</div>
        <div class="layui-card-body layui-text">
          <div class="operationWrap">
            <div class="operationBtn">新建账号</div>
            <div class="operationBtn">操作一</div>
            <div class="operationBtn">操作二</div>
            <div class="operationBtn">操作三</div>
            <div class="operationBtn">操作四</div>
            <div class="operationBtn">操作五</div>
            <div class="operationBtn addBtn">+  添加</div>


          </div>
        </div>
      </div>

      <div class="layui-card">
        <div class="layui-card-header">今日运营指数</div>
        <div class="layui-card-body layadmin-takerates">
          <div class="CustomerItem">
            <div class="CustomerBox">
              <p class="businessTit">总成交额</p>
              <div class="dataWrap"><span>126,560</span></div>
              <div class="dataText">月同比&nbsp;&nbsp;<img src="/src/style/res/topJian.png">&nbsp;&nbsp;12%&nbsp;&nbsp;&nbsp;&nbsp;周同比&nbsp;&nbsp;<img src="/src/style/res/topJian.png">&nbsp;&nbsp;16%&nbsp;&nbsp;&nbsp;&nbsp;日环比&nbsp;&nbsp;<img src="/src/style/res/bottomJian.png">&nbsp;&nbsp;11%</div>

            </div>
            <div class="CustomerBox">
              <p class="businessTit">总流量</p>
              <div class="dataWrap"><span>36,461</span></div>
              <div class="dataText">月同比&nbsp;&nbsp;<img src="/src/style/res/topJian.png">&nbsp;&nbsp;12%&nbsp;&nbsp;&nbsp;&nbsp;周同比&nbsp;&nbsp;<img src="/src/style/res/topJian.png">&nbsp;&nbsp;16%&nbsp;&nbsp;&nbsp;&nbsp;日环比&nbsp;&nbsp;<img src="/src/style/res/bottomJian.png">&nbsp;&nbsp;11%</div>

            </div>
            <div class="CustomerBox">
              <p class="businessTit">注册用户数</p>
              <div class="dataWrap"><span>560</span></div>
              <div class="dataText">月同比&nbsp;&nbsp;<img src="/src/style/res/topJian.png">&nbsp;&nbsp;12%&nbsp;&nbsp;&nbsp;&nbsp;周同比&nbsp;&nbsp;<img src="/src/style/res/topJian.png">&nbsp;&nbsp;16%&nbsp;&nbsp;&nbsp;&nbsp;日环比&nbsp;&nbsp;<img src="/src/style/res/bottomJian.png">&nbsp;&nbsp;11%</div>

            </div>
            <div class="CustomerBox">
              <p class="businessTit">转化率</p>
              <div class="dataWrap"><span>78%</span></div>
              <div class="dataText">月同比&nbsp;&nbsp;<img src="/src/style/res/topJian.png">&nbsp;&nbsp;12%&nbsp;&nbsp;&nbsp;&nbsp;周同比&nbsp;&nbsp;<img src="/src/style/res/topJian.png">&nbsp;&nbsp;16%&nbsp;&nbsp;&nbsp;&nbsp;日环比&nbsp;&nbsp;<img src="/src/style/res/bottomJian.png">&nbsp;&nbsp;11%</div>

            </div>





          </div>
        </div>
      </div>

      <div class="layui-card">
        <div class="layui-card-header">实时监控</div>
        <div class="layui-card-body layadmin-takerates">
          <div class="layui-progress" lay-showpercent="yes">
            <h3>CPU使用率</h3>
            <div class="layui-progress-bar" lay-percent="58%" style="width: 58%;"><span
                    class="layui-progress-text">58%</span></div>
          </div>
          <div class="layui-progress" lay-showpercent="yes">
            <h3>内存占用率</h3>
            <div class="layui-progress-bar layui-bg-red" lay-percent="90%" style="width: 90%;"><span
                    class="layui-progress-text">90%</span></div>
          </div>
        </div>
      </div>



    </div>

  </div>
</div>
<!--<script src="../assets/layui.all.js"></script>-->
<script>
    //alert(sessionStorage.getItem("OID"));
    var element = layui.element;
    layui.use(['jquery'], function() {
        var $ = layui.jquery;
        var UserMsg=$(".UserMsg h3"),now = new Date(),hour = now.getHours();
        $.ajax({
            type: "get",//请求方式
            url: "/manager/user/usermessage?oid="+sessionStorage.getItem("OID"),//地址，就是json文件的请求路径
            dataType: "json",//数据类型可以为 text xml json  script  jsonp
            success: function(result){//返回的参数就是 action里面所有的有get和set方法的参数
            	var result=result.dataValue;
            	if(hour < 6){UserMsg.text("天还没亮，"+result.name+"，要注意身体哦！")}
                else if (hour < 9){UserMsg.text("早上好，"+result.name+"，谢谢你长得这么好看还这么努力！")}
                else if (hour < 12){UserMsg.text("上午好，"+result.name+"，祝你开心每一天！")}
                else if (hour < 13){UserMsg.text(" 中午好，"+result.name+"，午休时间，别忘了吃午饭哦！")}
                else if (hour < 18){UserMsg.text("下午好，"+result.name+"，祝你开心每一天！")}
                else {UserMsg.text("晚上好，"+result.name+"，加班辛苦了！")}
            	$(".UserMsg .duty").text(result.duty);
            	$(".UserMsg .department").text(result.department);
            },
    		error:function(result){
        	}
        });
        
        
        $.ajax({
            type: "get",//请求方式
            url: "/manager/user/dataStatistics",//地址，就是json文件的请求路径
            dataType: "json",//数据类型可以为 text xml json  script  jsonp
            success: function(result){//返回的参数就是 action里面所有的有get和set方法的参数
            	var result=result.dataValue;
            console.log(result);
            $(".dataMain").eq(0).find("h3").text(result.member1);
            $(".dataMain").eq(1).find("h3").text(result.money1);
            $(".dataMain").eq(2).find("h3").text(result.insertMoney1);
            },
    		error:function(result){
        	}
        });
        
    });
    
</script>