<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.izhuantou.dao.webp2p.WebP2pPackageBiddingMainContentRuningMapper">
	<select id="findByOID"
		resultType="com.izhuantou.damain.webp2p.WebP2pPackageBiddingMainContentRuning">
		SELECT * from WEBP2P_PackageBiddingMainContentRuning WHERE
		OID= #{OID}
	</select>

	<select id="findByLoanNum"
		resultType="com.izhuantou.damain.webp2p.WebP2pPackageBiddingMainContentRuning">
		SELECT * from WEBP2P_PackageBiddingMainContentRuning where
		loanNumber = #{loanNum} and financetransfertype='normal'
	</select>

	<select id="findRealBiddingByMainOID"
		resultType="com.izhuantou.damain.webp2p.WebP2pPackageBiddingMainContentRuning">
		SELECT mcr.* FROM
		WEBP2P_PackageMainContentMapping mcMapping,WEBP2P_PackageBiddingMainContentRuning mcr
		where mcr.OID = mcMapping.contentOID and mcMapping.mainOID=#{mainOID}
		and productStatus=1

	</select>

</mapper>