<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.izhuantou.dao.webp2p.WebP2pPackageBiddingMainContentRuningMapper">
	<select id="findByOID"
		resultType="com.izhuantou.damain.webp2p.WebP2pPackageBiddingMainContentRuning">
		SELECT * from WEBP2P_PackageBiddingMainContentRuning WHERE
		OID= #{OID}
	</select>

	<select id="findByLoanNum"
		resultType="com.izhuantou.damain.webp2p.WebP2pPackageBiddingMainContentRuning">
		SELECT * from WEBP2P_PackageBiddingMainContentRuning where
		loanNumber = #{loanNum} and financetransfertype='normal'
	</select>

	<select id="findRealBiddingByMainOID"
		resultType="com.izhuantou.damain.webp2p.WebP2pPackageBiddingMainContentRuning">
		SELECT mcr.* FROM
		WEBP2P_PackageMainContentMapping mcMapping,WEBP2P_PackageBiddingMainContentRuning mcr
		where mcr.OID = mcMapping.contentOID and mcMapping.mainOID=#{mainOID}
		and mcr.productStatus=1

	</select>

	<update id="updatePackageBiddingMainContentRuning">
		UPDATE webp2p_packagebiddingmaincontentruning
			SET 
			 biddingName=#{biddingName},
			 endDay=#{endDay},
			 memberOID=#{memberOID},
			 applyAmount=#{applyAmount},
			 loanDay=#{loanDay},
			 biddingAmount=#{biddingAmount},
			 loanProductRateInfoID=#{loanProductRateInfoID},
			 holdingAmount=#{holdingAmount},
			 productType=#{productType},
			 productStatus=#{productStatus},
			 repaymentType=#{repaymentType},
			 biddingType=#{biddingType},
			 loanNumber=#{loanNumber},
			 yhqs=#{yhqs},
			 isRecommend=#{isRecommend},
			 isCWTB=#{isCWTB},
			 debitCreditOID=#{debitCreditOID},
			 yhje=#{yhje},
			 hkzt=#{hkzt},
			 yqts=#{yqts},
			 describe0=#{describe0},
			 NO=#{NO},
			 addUserOID=#{addUserOID},
			 updUserOID=#{updUserOID},
			 valid=#{valid},
			 addDateTime=#{addDateTime},
			 updDateTime=NOW(),
			 refresh=#{refresh},
			 version=version+1,
			 financetransfertype=#{financetransfertype},
			 debtLoanNumber=#{debtLoanNumber},
			 debtTransferOID=#{debtTransferOID}
			WHERE
				OID =#{OID} and version=#{version}
	
	</update>


</mapper>