<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.izhuantou.dao.webp2p.WebP2pNormalBiddingRuningMapper">

	<select id="findByOID"
		resultType="com.izhuantou.damain.webp2p.WebP2pNormalBiddingRuning">
		SELECT * FROM WEBP2P_NormalBiddingRuning WHERE OID=#{OID}
	</select>
	<select id="findNormalByOID"
		resultType="com.izhuantou.damain.webp2p.WebP2pNormalBiddingRuning">
		SELECT * FROM WEBP2P_NormalBiddingRuning WHERE OID=#{OID}
	</select>


	<select id="findByLoan"
		resultType="com.izhuantou.damain.webp2p.WebP2pNormalBiddingRuning">
		SELECT * FROM WEBP2P_NormalBiddingRuning WHERE loanNumber =
		#{LoanNum}
	</select>

	<update id="updateNormalBiddingBuning">
		UPDATE webp2p_normalbiddingruning
		SET
		memberOID = #{memberOID},
		biddingName = #{biddingName},
		startBidAmount = #{startBidAmount},
		applyAmount = #{applyAmount},
		loanDay = #{loanDay},
		endDay = #{endDay},
		biddingAmount = #{biddingAmount},
		holdingAmount = #{holdingAmount},
		loanProductRateInfoID = #{loanProductRateInfoID},
		productRateInfoID = #{productRateInfoID},
		productType = #{productType},
		productStatus = #{productStatus},
		biddingType = #{biddingType},
		loanNumber = #{loanNumber},
		yhqs = #{yhqs},
		yhje = #{yhje},
		isRecommend = #{isRecommend},
		isCWTB = #{isCWTB},
		debitCreditOID = #{debitCreditOID},
		hkzt = #{hkzt},
		yqts = #{yqts},
		describe0 = #{describe0},
		NO = #{NO},
		addUserOID = #{addUserOID},
		updUserOID = #{updUserOID},
		valid = #{valid},
		addDateTime = #{addDateTime},
		updDateTime = NOW(),
		refresh = #{refresh},
		version = version+1,
		hxProductType = #{hxProductType},
		hxLoanCenterInfo = #{hxLoanCenterInfo},
		JXother = #{JXother},
		szds = #{szds},
		dsTime = #{dsTime},
		isFK = #{isFK},
		WHERE
		OID = #{OID} and version = #{version}
	</update>

</mapper>