<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.izhuantou.dao.webp2p.WebP2pNoviceBiddingRuningMapper">
	<select id="findByOID"
		resultType="com.izhuantou.damain.webp2p.WebP2pNoviceBiddingRuning">
		select * from WEBP2P_NoviceBiddingRuning WHERE OID = #{OID}
	</select>
	<select id="findByCondition"
		resultType="com.izhuantou.damain.webp2p.WebP2pNoviceBiddingRuning">
		SELECT * from webp2p_novicebiddingruning
		where loanNumber
		=#{loanNum}
		and biddingType=0
	</select>
	<select id="findByLoan"
		resultType="com.izhuantou.damain.webp2p.WebP2pNoviceBiddingRuning">
		SELECT * from webp2p_novicebiddingruning
		where loanNumber
		=#{loanNum}
		and biddingType=0
	</select>
	<!-- 更新金额 -->
	<update id="updateNoviceBiddingRuningByOID">
		UPDATE webp2p_novicebiddingruning
		SET
		biddingName =
		#{biddingName},
		startBidAmount = #{startBidAmount},
		memberOID =
		#{memberOID},
		loanAmount = #{loanAmount},
		biddingAmount =
		#{biddingAmount},
		loanDay = #{loanDay},
		holdingAmount =
		#{holdingAmount},
		loanProductRateInfoID = #{loanProductRateInfoID},
		productRateInfoID = #{productRateInfoID},
		productType = #{productType},
		productStatus = #{productStatus},
		biddingType = #{biddingType},
		loanNumber = #{loanNumber},
		yhqs = #{yhqs},
		yhje = #{yhje},
		hkzt =
		#{hkzt},
		yqts = #{yqts},
		isRecommend = #{isRecommend},
		isCWTB =
		#{isCWTB},
		endDay = #{endDay},
		debitCreditOID = #{debitCreditOID},
		describe0 = #{describe0},
		NO = #{NO},
		addUserOID = #{addUserOID},
		updUserOID = #{updUserOID},
		valid = #{valid},
		addDateTime =
		#{addDateTime},
		updDateTime = NOW(),
		refresh = #{refresh},
		version =
		version+1,
		debtLoanNumber =#{debtLoanNumber},
		JXother = #{JXother},
		szds
		= #{szds},
		dsTime = #{dsTime}
		WHERE
		OID = #{OID} and version=#{version}

	</update>

	<!-- 根据memberOID统计已投数量 -->
	<select id="countByMemberOID" resultType="java.lang.Integer">
		select count(memberOID)
		from webp2p_novicebiddingruning where memberOID = #{memberOID}
	</select>

	<!-- 根据会员OID获取信息 -->
	<select id="findByMemberOId"
		resultType="com.izhuantou.damain.vo.member.UserTrackDTO">
		SELECT
			NoviceBiddingRuning.OID AS productOID,
			NoviceBiddingRuning.biddingName AS productName,
			payDebitCredit.addDateTime AS addDateTime,
			payDebitCredit.money AS money
		FROM
			pay_debitcredit payDebitCredit,
			webp2p_novicebiddingruning NoviceBiddingRuning
		WHERE
			payDebitCredit.outMemberOID = #{cqcDTO.OID}
			AND payDebitCredit.businessOID = NoviceBiddingRuning.OID
			AND NoviceBiddingRuning.productStatus != 3
			AND NoviceBiddingRuning.productStatus != 10
			<if test="cqcDTO.startDate != null and cqcDTO.startDate != ''">
                and payDebitCredit.addDateTime &gt;= #{cqcDTO.startDate}
       		</if>
       		<if test="cqcDTO.endDate != null and cqcDTO.endDate != ''">
                and payDebitCredit.addDateTime &lt;= #{cqcDTO.endDate}
        	</if>
	</select>

</mapper>