<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.izhuantou.dao.p2p.P2pCompanyPerMapper">
	<!-- 根据平台编号 -->
	<select id="findComperByNumber" resultType="com.izhuantou.damain.p2p.P2pCompanyPer">
		SELECT * FROM p2p_companyper WHERE number=#{number};
		
	</select>
	
	
</mapper>