body{
    font-family: "微软雅黑", Arial;
}
.clear{
    clear: both;
}
.app_banner{
    height: 600px;
    width: 100%;
    background: url("http://img.izhuantou.com/image/APP_Online/banner.png");
    background-position: center;
    background-repeat: no-repeat;
}
.banner_wrap{
    width: 1162px;
    margin: 0 auto;
}
.banner_wrap .left{
    float: left;
    color: #fff;
    margin-top: 100px;
    margin-left: 59px;
}
.banner_wrap .left p{
    font-size: 18px;
    padding: 0px;margin: 0px;
    margin-bottom: 10px;
}
.app_banner .left h3{
    font-size: 48px;
    font-weight: bold;
    line-height: 63px;
}
.down_ios{
    width: 206px;
    height: 62px;
    border:1px solid #379ad2;
    border-radius: 5px;
    background: #0e86ca url("http://img.izhuantou.com/image/APP_Online/down_ios.png");
    vertical-align:middle;
    background-repeat: no-repeat;
    background-position: 18px 12px;
    line-height: 62px;
    float: left;
}
.down_android{
    background: #0e86ca url("http://img.izhuantou.com/image/APP_Online/down_android.png");
    background-repeat: no-repeat;
    background-position: 18px 12px;
    margin-left: 12px;
}
.down_btn{
    overflow: hidden;
    font-size: 18px;
    margin-top: 25px;
}
.down_btn a{
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #fff;
}
.down_ios img{
    vertical-align:middle;
    margin-left: 25px;
}
.down_ios span{
    margin-left:72px;
}
.QR_Code{
    width: 112px;
    height: 112px;
    background: url("http://img.izhuantou.com/image/APP_Online/QR_Code_bg.png");
    text-align: center;
    margin-top: 30px;
}
.safe_content{
    width: 1162px;
    margin: 0 auto;
    margin-top: 75px;

}
.safe_box{
    float: left;
    margin-left: 60px;
    margin-right: 75px;
}
.safe_box3{
    margin-right: 40px;
}
.safe_top{
    background: url("http://img.izhuantou.com/image/APP_Online/icon01.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    min-height: 68px;
    color: #666;
}
.safe_top02{
    background: url("http://img.izhuantou.com/image/APP_Online/icon02.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.safe_top03{
    background: url("http://img.izhuantou.com/image/APP_Online/icon03.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;

}
.safe_text{
    margin-left: 90px;
    line-height: 35px;
}
.safe_top h3{
    font-size: 24px;
}
.safe_top p{
    font-size: 18px;
}
.safe_bottom{
    font-size: 12px;
    color:#666;
    line-height: 20px;
    margin-top: 30px;
}
.safe_bottom p{
    font-size: 16px;
    margin: 0px;
    margin-bottom: 10px;

}
.phone_wrap{
    width: 1162px;
    margin: 0 auto;
}
.phone_left{
    width: 487px;
    height: 854px;
    background: url("http://img.izhuantou.com/image/APP_Online/phone_bg.png");
    overflow: hidden;
    float: left;
    margin-left: 52px;
    margin-top: 78px;
    margin-right: 138px;
}
.phone_main{
    width: 339px;
    height: 603px;
    position: relative;
    margin-top: 83px;
    margin-left: 69px;
}
.phone_main img{
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    filter:alpha(opacity=0);
    z-index: 1;
    transition: .6s all;
}
.phone_right{
    float: left;
    margin-top: 125px;
}
.phone_tit{
    margin-top: 80px;
}
.bottom_wrap{
    width: 100%;
    height: 390px;
    background: url("http://img.izhuantou.com/image/APP_Online/bottom_bg.png");
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}
.bottom_main{
    width: 490px;
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
    margin-top: 83px;
}
.bottom_main .text{
    font-size: 18px;
    color: #666;
}
.bottom_main .fen{
    height: 1px;
    background-color: #666;
    width: 60px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}
.bottom_main .text span{
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
}
.bottom_btn{
    width: 445px;
    margin: 0 auto;
    margin-top: 35px;
}
.btn_box{
    float: left;
    margin: 0 6px;
}
.bottom_btn a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.footerbg{
	margin-top:0px;
}
