@charset "utf-8";
/* CSS Document */
body{ background:#f5f5f5;}
.cwylcsb-1 .p-1{ border-bottom:1px solid #EEEEEE; padding-left:10px; height:60px; width:980px;}
.cwylcsb-1 .p-2{ padding-left:0px;}
.cwylcsb-1 .p-1 a.a-1{font:16px/60px "Microsoft YaHei"; padding-left:10px;color:#858585;}
.cwylcsb-1 .p-1 a.a-2{ font:22px/60px "Microsoft YaHei"; color:#32aaff;}
.cwylcsb-1 .p-1 span{  color:#778691; font:16px/60px "Microsoft YaHei"; padding-left:10px;}
.cwylcsb-2{ height:140px; border-bottom:1px solid #EEEEEE; padding-bottom:10px; overflow:hidden;}
.debit-two{ overflow:hidden; padding-bottom:40px;}
.condition{ font:14px/20px "Microsoft YaHei"; color:#778691; padding-left:100px; padding-top:20px; padding-bottom:20px;}
.p-botted{ background:url(../images/dib-dotted.png) no-repeat; width:853px; height:1px; margin-left:100px;}
.debitfill{  border:1px solid #e2e2e2; margin-bottom:20px; border-top:0px; padding:30px 0px;}
.debitfill ul{ width:390px; margin:0px auto;  overflow:hidden;}
.debitfill ul li{ width:390px; overflow:hidden; margin-top:20px;}
.debitfill ul li .sp-yuan{ display:block;float:left; font:16px/40px "Microsoft YaHei"; color:#858585; padding:0 8px;}
.debitfill label{ display:block; width:94px; height:40px; float:left; font:16px/40px "Microsoft YaHei"; color:#413d3c;}
.debitfill ul li .dfinput{ width:260px ; height:40px; line-height:40px; border:1px solid #EEEEEE;float:left;font:16px/20px "Microsoft YaHei"; color:#778691; text-indent:8px;}
.debitfill ul li .yz{ width:90px;}
.debitfill ul li .yue{ width:226px;}
.yzimg{ margin-left:10px; float:left;}
a.ya{ padding-left:10px; padding-top:20px; font:16px/40px "Microsoft YaHei"; color:#c1201c;}
 .debitfill ul li .dfinput:focus { border:1px solid #32aaff;}

.debitfill ul li .dfinput-text{ height:120px;}
.debitfill textarea{ font:12px/20px "Microsoft YaHei"; color:#778691; text-indent:8px;}
.debit-but{ background-color:#2473ba; width:260px; height:40px; border:0px; font: bold 18px/40px "Microsoft YaHei"; color:#FFF; text-align:center; margin-left:81px; cursor:pointer;}

.debitend { padding-bottom:50px; padding-top:30px; border:1px solid #e2e2e2; border-top:0px;}
.debitend ul{ overflow:hidden; }
.debitend ul li{ float:left;}
.debitend ul.ul-1 li{  width:121px; height:121px;margin-left:100px; display:inline; margin-top:20px;}
.debitend ul.ul-1 li.li-1{ background:url(../images/jd01.png) no-repeat;}
.debitend ul.ul-1 li.li-2{background:url(../images/jd02.png) no-repeat;}
.debitend ul.ul-1 li.li-3{background:url(../images/jd03.png) no-repeat;}
.debitend ul.ul-1 li.li-4{background:url(../images/jd04.png) no-repeat;}
.debitend ul.ul-2 li{ font:18px/30px "Microsoft YaHei"; color:#373737;margin-left:135px;display:inline; margin-top:20px;}
.debitend ul.ul-2 li.li-2{ margin-left:164px;}
.debitend ul.ul-2 li.li-3{ margin-left:166px;}
.debitend ul.ul-2 li.li-4{ margin-left:166px;}
.debitend ul.ul-2 li span{ color:#f57f7f;}
.debitend ul.ul-3 li span{ font:14px/20px "Microsoft YaHei"; color:#373737;}
.debitend ul.ul-3 li{ font:14px/20px "Microsoft YaHei"; color:#373737; margin-left:86px;}
.debitend ul.ul-3 li.li-2{ margin-left:72px;}
.debitend ul.ul-3 li.li-3{ margin-left:78px;}
.debitend ul.ul-3 li.li-4{ margin-left:75px;}

.debitfill-1{ border-bottom:1px solid #EEEEEE; height:250px;}
.debok { width:405px; margin:40px auto;}
.debok p{ text-align:center; height:40px; line-height:40px;}
.debok p span.sp-deb{ display:block;  background:url(../images/zcok.png) no-repeat; width:48px; height:48px; margin:0 auto;}
.debok p a{ font:18px/60px "Microsoft YaHei"; color:#32aaff;}
.debok p.p-deb{ font:14px/60px "Microsoft YaHei"; color:#778691;}

.debitfill{ position:relative;}
.debitfill ul li span.sp-phone{ position:absolute; color:red; font:12px/15px "Microsoft YaHei";  right:264px; top:88px;}
.debitfill ul li span.sp-phone-1{ position:absolute; color:red; font:12px/15px "Microsoft YaHei";  right:264px; top:209px;}

.a-tj{ display:block; cursor:pointer; float:left; padding:0 204px; font:20px/60px "Microsoft YaHei"; color:#413d3c;}
.a-tj.active{ background-color:#32aaff; color:#fff;}


.jdok{ width:446px; margin:100px auto; overflow:hidden; }
.jdok li{ text-align:center;}
.jdok .li-1 span{ display:block;  background:url(../images/zcokgreen.png) no-repeat; width:40px; height:40px; margin:10px auto;}
.jdok .li-2{ font:18px/30px "Microsoft YaHei"; color:#32aaff;}
.jdok .li-3{ font:16px/30px "Microsoft YaHei"; color:#413d3c;}
.jdok .li-3 a{ padding:0 10px ; color:#32aaff;}
.debitfill .text{ width:260px; height:80px;}

.sxtj{ height:50px; background-color:#eeeeee; border-radius:3px 3px 0px 0px; margin-top:20px;}
.sxtj span{ font:18px/50px "Microsoft YaHei"; color:#373737; padding-left:20px;}

.jkop02{ margin-bottom:20px;}
.tabjk{ overflow:hidden; margin-top:20px;}
.tabjk a{ display:block; margin-left:172px; cursor:pointer; float:left; width:230px; height:130px; overflow:hidden;}
.tabjk a.ac{ margin-left:26px;}
.tabjk a span{ display:block; }
.tabjk a .sp01{ font:18px/20px "Microsoft YaHei"; color:#ffffff;  margin:55px 0px 0px 125px;}
.tabjk a .sp02{ font:14px/18px "Microsoft YaHei"; color:#ffffff; margin:5px 0px 0px 125px;}
.tabjk a.a01{ background:url(../images/gxd.png) no-repeat;}
.tabjk a.a01:hover{background:url(../images/gxdh.png) no-repeat; }
.tabjk a.a02{ background:url(../images/syd.png) no-repeat; }
.tabjk a.a03{ background:url(../images/xfd.png) no-repeat; margin-left:153px;}
.tabjk a.a04{ background:url(../images/fwdh.png) no-repeat;}
.tabjk a.a02:hover{ background:url(../images/sydh.png) no-repeat; }
.tabjk a.a03:hover{ background:url(../images/xfdh.png) no-repeat; }
.tabjk a.a04:hover{ background:url(../images/fwd.png) no-repeat; }
.tabjk a.a01:hover span{color:#3bbce6;}
.tabjk a.a02:hover span{color:#91c46c;}
.tabjk a.a03:hover span{color:#fac24b;}
.tabjk a.a04:hover span{color:#ec7f4f;}

.optab{ position:relative; border:1px solid #3bbce6; border-radius:3px; margin-top:20px;	}
.optab dd span{ display:block; background:url(../images/xyyy.png) no-repeat; width:10px; height:10px; float:left; line-height:14px; margin-top:8px;}
.optab dl{ padding:10px 0px 10px 20px;}
.optab dt{ padding-left:10px;}
.optab dd{ margin:10px}
.optab01{ border-color:#3bbce6;}
.optab02{ border-color:#91c46c;}
.optab03{ border-color:#fac24b;}
.optab04{ border-color:#ec7f4f;}
.optab .sp{ position:absolute; display:block; width:19px; height:15px; top:-12px; }
.optab .sp01{ background:url(../images/sj03.png) no-repeat;margin-left:263px;}
.optab .sp02{ background:url(../images/sj01.png) no-repeat;margin-left:353px;}
.optab .sp03{ background:url(../images/sj.png) no-repeat;margin-left:660px;}
.optab .sp04{ background:url(../images/sj.png) no-repeat;margin-left:913px;top:-11px;}
.tude{ width:963px; margin:10px auto; overflow:hidden;}
.tude .df01{ float:left; margin-left:12px;}
.tude .df01 img{width:100%;}


/***借款人资料样式**/
.p-titcon{ font:16px/40px "Microsoft YaHei"; color:#5B5B5B; background-color:#EEEEEE; padding-left:10px; overflow:hidden;}
.listinput{ margin:20px 0px; overflow:hidden; padding-left:158px;}
.patlist{ overflow:hidden;}
.liptop{ overflow:hidden; }
.liptop label{ display:block; text-align:right; float:left;  width:158px;font:16px/40px "Microsoft YaHei"; color:#373737;}
.liptop input{font:16px/40px "Microsoft YaHei"; color:#373737;  margin-left:10px; float:left; height:40px; width:400px; border:1px solid #cccccc; text-indent:2em;}
.patlist span{ display:block; color:red; padding-left:173px;font:12px/20px "Microsoft YaHei";}
.error{ height:20px;}

.nextsub{ text-align:center; height:40px; margin:30px 0px;}
.nextsub a{ display:block; width:260px; margin:auto; padding:0px 10px; background-color:#2573bb; color:#fff;font:16px/40px "Microsoft YaHei";}

.conscok{ overflow:hidden;}
.conscok p{ overflow:hidden;font:20px/55px "Microsoft YaHei"; color:#454344; border-bottom:1px solid #C2C2C2;}
.conscok p span{ margin-right:10px; display:block; background:url(../images/tsok.png) no-repeat; width:52px; height:55px; float:left;}
.bott-p{font:14px/30px "Microsoft YaHei"; color:#454344;}

.partone-zl{ overflow:hidden; margin-top:20px;}
.patleft{ width:50%; float:left;}
.patleft p{font:16px/30px "Microsoft YaHei"; color:#737373;}
.bottom-p{ overflow:hidden; margin-top:14px;}
.bot-left{ float:left;}
.bot-left .picclick{ width:210px; height:113px; border:1px solid #e2e2e2;}
.bot-left .inpora{ display:block; width:212px; height:40px;font:16px/40px "Microsoft YaHei"; color:#fff; background-color:#2573bb; text-align:center;}
.bot-leftm{ margin-left:38px;}
.patleftsc{ width:25%;}

.tsmeg{ margin:102px 0px;}
.tsmeg dd{font:16px/40px "Microsoft YaHei"; color:#737373;}
.tsmeg dd span{ color:#df741f;}
/*借款成功页面*/
/*.minhh{ border:1px solid #f00;}*/
.jksucess{ background:#fff; min-height:600px; border:1px solid #dcdcdc; }
.jksucessifr{ background:#fff;  }
.succ{ width:500px; margin:0 auto; }
.jksucess .scok-p{ overflow:hidden;font:20px/55px "Microsoft YaHei"; color:#454344; /*border-bottom:1px solid #C2C2C2;*/ margin-top:100px; }
.jksucess .scok-p span{ margin-right:10px; display:block; background:url(../images/right.png) no-repeat; width:52px; height:55px; float:left;}
.jksucess .scok-error span{ margin-right:10px; display:block; background:url(../images/errorimg.png) no-repeat; width:52px; height:55px; float:left;}

.jksucessifr .scok-p{ overflow:hidden;font:20px/55px "Microsoft YaHei"; color:#454344; /*border-bottom:1px solid #C2C2C2;*/ margin-top:100px; }
.jksucessifr .scok-p span{ margin-right:10px; display:block; background:url(../images/right.png) no-repeat; width:52px; height:55px; float:left;}
.jksucessifr .scok-error span{ margin-right:10px; display:block; background:url(../images/errorimg.png) no-repeat; width:52px; height:55px; float:left;}


.scok-p.erro span{background:url(../images/right.png) no-repeat;}
.bott-p{font:14px/30px "Microsoft YaHei"; color:#454344; margin-top:20px;}
.btn{ overflow:hidden; margin-top:100px; height:50px; line-height:50px;}

.btn a.btn-a{ background:#55b0fd; display:block; float:left; width:200px; height:50px; font:18px/50px "Microsoft yahei"; color:#fff;  text-align:center; border-radius:5px;}
.btn span.timetxt{ display:block; float:left; font-size:14px; margin-left:15px; color:#333333;}

.btnifr{ overflow:hidden; cursor:pointer; margin-top:17px; height:50px; line-height:50px;}
.btnifr a.btn-a{ background:#55b0fd; display:block; float:left; width:200px; height:50px; font:18px/50px "Microsoft yahei"; color:#fff;  text-align:center; border-radius:5px;}
.btnifr span.timetxt{ display:block; float:left; font-size:14px; margin-left:15px; color:#333333;}
