@charset "utf-8";
/* CSS Document */


/*借款申请修改弹框*/

.cd-popup-container1, .cd-popup-container2, .cd-popup-container4{ width:55%;}

.yunull{padding: 0px 0px;}


.my_tx{ text-align:center; margin-top:30px;}
.my_tx img{ border:1px solid #dadad9; border-radius:5px; box-shadow:0 0 10px #dadad9;}
.my_tx-txt{ text-align:center; margin-top:10px; color:#dadad9;}
.debitfill{  margin-bottom:20px; border-top:0px; /* padding:30px 0px; */}
.debitfill ul{ width:610px; /* margin:0px auto; */    margin-left: 180px;  overflow:hidden;}
.debitfill ul li{ width:610px; overflow:hidden; margin-top:13px;position:relative;}
.debitfill ul li.single_ctrl{ position:relative;text-align:left; }
.debitfill ul li.single_ctrl span.error{ position:absolute; left:490px; top:0px;}
.debitfill ul li a{ color:#3cb4f9;font:12px/30px "微软雅黑"; }
.debitfill ul li.single_ctrl a{color:#3cb4f9;font:12px/20px "微软雅黑";}
.debitfill ul li .sp-yuan{ display:block; background-color:#dedede; float:left; font:14px/30px "微软雅黑"; color:#858585; padding:0 8px; border:1px solid #dedede;}
.debitfill label{ display:block; width:80px; height:30px; float:left; font:14px/30px "微软雅黑"; color:#413d3c;}
.debitfill ul li .dfinput{ width:310px; height:30px; line-height:30px; border:1px solid #EEEEEE;float:left;font:12px/20px "微软雅黑"; color:#778691; text-indent:8px;}
.debitfill ul li .yz{ width:90px;}
.debitfill ul li .yue{ width:276px; background:url(../images/inpbg_03.jpg) no-repeat right center; padding-right:34px;}
.debitfill ul li .yue01{ width:276px; background:url(../images/inpbg_03b.png) no-repeat right center; padding-right:34px;}
.yzimg{ margin-left:10px; float:left;}
a.ya{ padding-left:10px; padding-top:20px; font:14px/30px "微软雅黑"; color:#c1201c;}
 .debitfill ul li .dfinput:focus { border:1px solid #22a8d4;}

.debitfill ul li .dfinput-text{ height:120px;}
.debitfill textarea{ font:12px/20px "微软雅黑"; color:#778691; text-indent:8px;}
.debit-but{ background-color:#4fa6fd; width:310px; height:35px; border:0px; font: bold 16px/35px "微软雅黑"; color:#FFF; text-align:center; margin-left:-140px; cursor:pointer;}

.debitfill input[type=checkbox]{ float:left;display:block; width:20px; margin-top:5px; margin-left:10px;}
.debitfill label.liagr{ float:left; display:block; width:210px;}
.debitfill label.liagr a{ color:#333;}
.debitfill label.isAgree-style{display: inline;font: 12px/20px "微软雅黑"; height:20px;width: 90px; margin-top:2px;}

/*错误信息提示*/
.box-yhk span.error{ float:left; color:#f00; position:absolute; top:0px; left:400px;}
/*三级联动样式*/
.debitfill ul li .dfinput.select01{ width:100px ;}
.debitfill ul li .dfinput.select02{ width:150px ; margin-left:5px;}

/*借款申请发送验证码 */
.hqyzm{ float:left; display:block; /* padding:0px 10px;  */width:118px; text-align:center; color:#fff; border-radius:0px 3px 3px 0px; background-color:#55b0fd;font:14px/32px "微软雅黑"; cursor:pointer;}
.send1{background:#b1aeae;cursor: no-drop;}
.hqyzm.loanhqyzm{position:absolute; top:0; left:273px;  height:32px; line-height:32px; color:#fff; }