@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

.draw {
	width: 100%;
	height: 100%;
	z-index: 100;
	display: block;
}

.draw ul li {
	display: inline-block;
	vertical-align: middle;
	float: left;
	height: 60px;
	line-height: 60px;
}

.draw ul li:nth-child(1) {
	width: 20%;
}

.draw ul li:nth-child(2) {
	width: 80%;
}

.draw span {
	margin: 0 10px;
	cursor: pointer;
	color: #999;
}

.color {
	display: inline-block;
	width: 12px;
	height: 12px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	border: 1px solid #dcdcdc;
	margin: 0 5px;
}
.select {
	width: 15px;
	height: 15px;
}

.sig {
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
}

.top {
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid black;
}

.top ul li {
	display: inline-block;
	vertical-align: middle;
	float: left;
}

.top ul li:nth-child(1) {
	width: 20%;
}

.top ul li:nth-child(2) {
	width: 60%;
}

.top ul li:nth-child(3) {
	width: 20%;
}

.top span {
	margin: 0 10px;
	cursor: pointer;
}

.bg {
	background: #000000;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 0;
	display: none;
}

.login {
	position: fixed;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	top: 8%;
	width: 300px;
	height: 200px;
	z-index: 999999;
	background: #fff;
	border-radius: 5px 5px 5px 5px;
	text-align: center;
}

/* demo修改 */
.clear{clear: both;}
.top{text-align: center;height: 55px;line-height: 55px;border-bottom: 1px solid #ababab;}
.sign_tit{height: 45px;color: #8a8989;font-size: 28px;}
.draw_btnWrap{border-top: 1px solid #ababab;}
.content_wrap{
	float: left;
}
#close em{float: left;font-style:normal;margin-right: 15px;margin-top: 35px;}
#close #sealData{float: left;}
.color_wrap{float: left;margin-top: 35px;}
.BtnWrap{float: right;margin-top: 35px;margin-right: 45px;}
.BtnWrap .clearBtn{
	width:140px;height: 40px;background-color: #ea653b;line-height: 40px;color: #fff;text-align: center;border-radius: 5px;float: left;cursor: pointer;}
.BtnWrap .dataBtn{margin-left: 30px;background-color: #1bbbac;}
.BtnWrap .submitBtn{margin-left: 120px;background-color: #55b0fd;}
.BtnWrap .submitBtn .dlbtn{width:100%;height:100%;border:none;outline: none;color:#fff;background-color:#55b0fd;border-radius: 5px;}

/* 采用提示框 */
.zeng_msgbox{width: 100%;
    position: fixed;
    top: 45%;
    left: 0;
    text-align: center;
    z-index: 65533;
    display:none;
    }
.axc-success,.gtl_ico_succ,.gtl_end {
	display: inline-block;
    height: 54px;
    line-height: 54px;
    font-weight: bold;
    font-size: 14px;
    color: #606060;
    background: url("gb_tip_layer.png");
    }
    .axc-success {
    background-position: 0 -161px;
    background-repeat: repeat-x;
    padding: 0 18px 0 9px;
    margin: 0 auto;
    position: relative;}
    .axc-success .gtl_ico_succ{
    background-position: -6px 0;
    left: -45px;
    top: 0;
    width: 45px;
    position: absolute;}
    .axc-success .gtl_end{
    background-position: 0 0;
    position: absolute;
    right: -6px;
    top: 0;
    width: 6px;
    }